@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
   
#left {
    float: left;
    width: 150px;
    height:auto;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}
 body{
    /*background-image: url(https://img.freepik.com/free-vector/abstract-background-design-dark-green_53876-59276.jpg );
    background-repeat:no-repeat;
    background-size:cover;*/
    width: 100%;
    background-color :;
    color:;

}

nav{
    display:inline-flex;
    justify-content: center;
     gap:10px ;
     font-size: 100%;
     align-items: center;
     color: black;
     text-decoration:none;
     
}

   
#social i{
    padding:0px 5px;
    color:black;
    justify-content: center;
    }
#social i:hover{
    background-color: white;
    color:black;
    border-radius: 20px;
    }
        
#profile{
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-color:black;
    background-position: center;
}

#id1{
        float:right;
    padding: 10px 12px;
    color:white;
    background-color:violet;
    border-radius: 10px;

}
#id1:hover{
    background-color: aqua;
}

#b1 {
    padding: 14px 16px;
    color:white;
    background-color:violet;
    border-radius: 10px;

}
    #b2 {
        padding: 14px 16px;
    color:white;
    background-color:violet;
    border-radius: 10px;

        }
#b1:hover{
    background-color: white;
    color:black;
    border-radius: 10px;
    float: center;
    
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    }
    #b2:hover{
        background-color: white;
        color:black;
        border-radius: 10px;
        float: center;
       
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
        }
#home{
    min-height: 75px;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

h1 span{
    color:black;
}

footer{
    position:relative;
    display:inline-flex;
    text-align: center;
   
}